@media (min-width: 769px) {
  .main-header,
  .main-nav,
  .primary {
    display: flex;
  }

  .main-header {
    flex-direction: column;
    align-items: center;
  }

  .primary .image {
    width: 50%;
  }
}

@media (min-width: 1025px) {
  .main-header {
    flex-direction: row;
    justify-content: space-between;
  }
}
